HTML, body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

#frame {
    display: flex;
    margin: 15%;
}

#frame * h2 {
    color:  hsl(0, 0%, 95%);
}

#frame * p {
    color:  hsla(0, 0%, 100%, 0.75);
}

#sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 5%;
}

#sedans > button {
    background-color:  hsl(0, 0%, 95%);
    color:  hsl(31, 77%, 52%);
    font-weight: bolder;
    padding: 2%;
    border: none;
    border-radius: 15px;
    width: 60%;
    height: 15%;
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#suvs {
    background-color:  hsl(184, 100%, 22%);
    padding: 5%;
}

#suvs > button {
    background-color:  hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    font-weight: bolder;
    padding: 2%;
    border: none;
    border-radius: 15px;
    width: 60%;
    height: 15%;
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 5%;
}

#luxury > button {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    font-weight: bolder;
    padding: 2%;
    border: none;
    border-radius: 15px;
    width: 60%;
    height: 15%;
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}